@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h3>SIMPLICITY HEALTH SYSTEMS</h3> 
    @*<p><a href="http://asp.net" class="btn btn-primary btn-large">Click here for Feedback &raquo;</a></p>*@
    
    <p>@Html.ActionLink("Click here for Feedback", "Create", "FeedBack")</p>
</div>

